[tool.poetry]
name = "weave"
version = "0.1.0"
description = ""
authors = ["angelodibella <angelo.dibella2020@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^1.26.4"
matplotlib = "^3.9.2"
sinter = "^1.14.0"
stimbposd = "^0.0.1"
stim = "^1.14.0"
sympy = "^1.13.3"
ldpc = "^0.1.53"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
